{% extends 'navbar.html' %}
{% block content %}

<div class="col-12">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="row">
        <!-- First Table -->
        <div class="col-md-15">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="text-center mb-4">Completed Tasks</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sr No</th>
                                <th scope="col">Task List</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Completed At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in taskList %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ instance.task }}</td>
                                <td>{{ instance.created_at }}</td>
                                <td>{{ instance.updated_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
